<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Tipe</th>
      <th>Bank</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for( let index = 0; index < payments.length; index++ ) { %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= payments[index].type %></td>
      <td>
        <% payments[index].banks.forEach(bank => { %>
        <span class="badge badge-warning">
          <%= bank.owner %> - <%= bank.bankName %>
        </span>
        <% }) %>
      </td>
      <td>
        <% if (payments[index].status === 'Y') { %>
        <span class="badge badge-success"> Aktif </span>
        <% }else{ %>
        <span class="badge badge-success"> Tidak Aktif </span>
        <% } %>
      </td>
      <td>
        <form
          action="/payment/status/<%= payments[index]._id %>?_method=PUT"
          style="display: inline-block"
          method="post"
        >
          <button type="submit" class="btn btn-primary btn-sm mb-2">
            <i class="fas fa-folder"></i>
            <% if (payments[index].status === 'Y') { %> Matikan <% }else{ %>
            Hidupkan <% } %>
          </button>
        </form>
        <a
          href="/payment/edit/<%= payments[index]._id %>"
          class="btn btn-warning btn-sm mb-2"
        >
          <i class="fas fa-pencil-alt"></i>
          Ubah</a
        >
        <form
          action="/payment/delete/<%= payments[index]._id %>?_method=DELETE"
          class="d-inline-block"
          method="post"
        >
          <button
            type="submit"
            class="btn btn-danger btn-sm mb-2"
            onclick="return confirm('Are you sure?')"
          >
            <i class="fas fa-trash"></i>
            Hapus
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
  <tfoot>
    <tr>
      <th>No.</th>
      <th>Tipe</th>
      <th>Bank</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
  </tfoot>
</table>
